.example-card {
  max-width: 400px;
  margin: 70px 20px;
}

.example-header-image {
  background-image: url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?cs=srgb&dl=pexels-min-an-694740.jpg&fm=jpg');
  background-size: cover;
  cursor: pointer;
}