<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Neon" #input>
</mat-form-field>

<div class='mat-elevation-z8 container cust-space'>
  <table mat-table [dataSource]="dataSource" matSort class="custom-table" style="width: 100%;">
    <ng-container *ngFor="let displayCol of tableColumns let colIndex = index;" matColumnDef="{{displayCol.columnDef}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ displayCol.header }}
      </th>

      <td mat-cell *matCellDef="let element">
        {{ displayCol.cell(element) }}

        <!-- <span *ngIf="!displayCol.isLink; else link"> 
         </span> 
        
        <ng-template #link>
          <a [routerLink]="[displayCol.url]">
            {{ displayCol.cell(element) }}
          </a>
        </ng-template> -->
      </td>

      <td mat-cell *matCellDef="let element">
        <a style="color: red;" type="button" class="mx-1" title="Delete User">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="20" showFirstLastButtons aria-label="Select page of users"
    class="custom-color">
  </mat-paginator>
</div>
