<!-- <div class="position-class">

  <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">

    <mat-card class="example-card">
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>

      <mat-form-field appearance="standard">
        <mat-label>Enter your User Name</mat-label>
        <input matInput formControlName="email" required name="username" id="username" placeholder="Add Username">
        <mat-hint>id: dhruv1122</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Enter your Password</mat-label>
        <input matInput formControlName="password" required name="password" id="password"
          [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>pass: 1234</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="btn-margin">Login</button>
    </mat-card>
  </form>

</div> -->

<!-- <label for="password">Password</label>
      <input type="password" class="form-control" required ngModel name="password" id="password" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']" class="alert alert-danger">
          Password is required ⚠️.
        </div>
      </div> -->

<!-- <label for="username">User Name</label>
      <input type="text" class="form-control" required ngModel name="username" id="username" #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']" class="alert alert-danger">
          Username is required ⚠️.
        </div>
      </div> -->


<div class="position-class">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <mat-card class="example-card">
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>

      <mat-form-field appearance="standard">
        <mat-label>E-mail</mat-label>
        <input matInput required ngModel name="email" [email]="true" id="email" #email="ngModel" placeholder="E-mail"
          autocomplete="on" title="Enter your E-mail">
      </mat-form-field>
      <span
        *ngIf="loginForm.controls['email']?.invalid && (loginForm.controls['email']?.dirty || loginForm.controls['email']?.touched)">
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">You must enter your E-mail!
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">Not a valid E-mail!</mat-error>
      </span>

      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput required ngModel name="password" id="password" #password="ngModel" placeholder="Password"
          autocomplete="off" title="Enter your Password">
      </mat-form-field>
      <span
        *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">You must enter your Password!
        </mat-error>
      </span>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid" class="btn-margin"
        title="Login">Login</button>

      <div class="btn-margin">
        New User?
        <a (click)="goToSignUp()" class="btn-signup" title="Go to Sign Up">Sign Up</a>
      </div>
    </mat-card>
  </form>

</div>

<!--
          [type]="hide ? 'password' : 'text'"
          <button mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> 
      -->
