 <mat-toolbar color="primary" class="toolbar-class">
   <span class="custom-style-class font-effect-fire">
     🎉 Welcome,
     <small class="ms-3"> {{loggedUserName}} </small>
   </span>

   <button mat-icon-button class="btn-user" color="accent" (click)="goToHomePage()">
     <span class="material-icons">home</span>
   </button>

   <button mat-icon-button class="btn-user" color="accent" (click)="goToUserProfile()">
     <span class="material-icons">emoji_emotions</span>
   </button>
   
   <button mat-icon-button class="btn-user" color="accent" (click)="goToMap()" disabled>
     <span class="material-icons">map</span>
   </button>
   
   <button mat-icon-button class="btn-user" color="accent" (click)="goToDYTables()">
     <span class="material-icons">table_chart</span>
   </button>

   <span class="example-spacer"></span>

   <button mat-icon-button color="accent" (click)="addNewUser()" type="button">
     <span class="material-icons"> person_add </span>
   </button>

   <small class="me-1 custom-font">
     Toggle the View:
   </small>
   <mat-slide-toggle [(ngModel)]="isChecked" (click)="toggleView()" class="me-3" title="Toggle the View">
   </mat-slide-toggle>

   <button mat-raised-button color="warn" title="logout" (click)="logout()">
     <i class="material-icons">logout</i></button>
 </mat-toolbar>
