<form [formGroup]="signUpForm" (ngSubmit)="addCrew()" autocomplete="off">

  <mat-card-header>
    <mat-card-title>
      <h1>ADD CREW</h1>
    </mat-card-title>
  </mat-card-header>

  <div class="custom-space-class">
    <!-- first name -->
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" type="text" required name="firstName" id="firstName"
        autocomplete="off" placeholder="Add First Name" title="Enter your First Name">
      <mat-error *ngIf="signUpForm.controls['firstName'].errors?.['required']">You must enter your firstname!
        ⚠️</mat-error>
    </mat-form-field>

    <!-- last name -->
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" type="text" required name="lastName" id="lastName"
        placeholder="Add Last Name" title="Enter your Last Name">
      <mat-error *ngIf="signUpForm.controls['lastName'].errors?.['required']">You must enter your lastname! ⚠️
      </mat-error>
    </mat-form-field>
  </div>

  <div class="custom-space-class">
    <!-- age -->
    <mat-form-field appearance="standard">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" type="text" required maxlength="3" name="age" id="age" placeholder="Add Age"
        title="Enter your Age">
      <mat-error *ngIf="signUpForm.controls['age'].errors?.['required']">You must enter your age! ⚠️
      </mat-error>
      <mat-error *ngIf="signUpForm.controls['age'].errors?.['pattern']">
        Please, Enter digits only! ⚠️
      </mat-error>
    </mat-form-field>

    <!-- mobile -->
    <mat-form-field appearance="standard">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="mobile" type="tel" (keypress)="onlyDigits($event)" maxlength="10" required
        name="mobile" id="mobile" placeholder="Add Mobile Number" title="Enter your Mobile Number">
      <mat-error *ngIf="signUpForm.controls['mobile'].errors?.['required']">You must enter your mobile number!
        ⚠️</mat-error>
      <mat-error *ngIf="signUpForm.controls['mobile'].errors?.['pattern']">Please, Enter digits only! ⚠️
      </mat-error>
    </mat-form-field>
  </div>

  <!-- email -->
  <mat-form-field appearance="standard">
    <mat-label>E-mail ID</mat-label>
    <input matInput formControlName="email" type="email" name="email" id="email" placeholder="Add E-mail"
      title="Enter your E-mail">
    <mat-error *ngIf="signUpForm.controls['email'].errors?.['required']">You must enter your E-mail! ⚠️
    </mat-error>
    <mat-error *ngIf="signUpForm.controls['email'].errors?.['email']">Not a valid E-mail! ⚠️</mat-error>
  </mat-form-field>

  <!-- password -->
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="text" required name="password" id="password"
      title="Enter your Password">
    <mat-error *ngIf="signUpForm.controls['password'].errors?.['required']">You must enter your Password! ⚠️
    </mat-error>
  </mat-form-field>

  <div [align]="'end'">
    <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid" class="btn-margin"
      mat-dialog-close>Add Crew</button>
  </div>

</form>
