<div class="position-class">

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" autocomplete="off">

    <mat-card class="example-card">

      <mat-card-title>
        <h1>Sign UP</h1>
      </mat-card-title>

      <mat-form-field appearance="standard">
        <mat-label>Enter your Full Name</mat-label>
        <input matInput formControlName="fullName" type="text" required name="fullName" id="fullName"
          placeholder="Add Full Name">
        <mat-error *ngIf="fullName?.invalid">{{getErrorMessageFullname()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Enter your Mobile Number</mat-label>
        <input matInput formControlName="mobile" type="tel" maxlength="10" required name="mobile" id="mobile"
          placeholder="Add Mobile Number">
        <mat-error *ngIf="mobile?.invalid">{{getErrorMessageMobile()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Enter your Email</mat-label>
        <input matInput formControlName="email" type="email" name="email" id="email" placeholder="Add E-mail">
        <mat-error *ngIf="email?.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Enter your Password</mat-label>
        <input matInput formControlName="password" type="text" required name="password" id="password">
        <mat-error *ngIf="password?.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid" class="btn-margin">Sign
        Up</button>

      <div class="btn-margin">
        Already User?
        <a (click)="goToLogin()" class="btn-signup">Login</a>
      </div>
    </mat-card>
  </form>

</div>
