<div class="position-class">

  <form [formGroup]="signUpFormValue" (ngSubmit)="signUp()" autocomplete="off">

    <mat-card class="example-card">

      <mat-card-title>
        <h1>Sign UP</h1>
      </mat-card-title>

      <div class="custom-space-class">
        <!-- first name -->
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" type="text" required name="firstName" id="firstName"
            autocomplete="off" placeholder="Add First Name">
          <mat-error *ngIf="signUpFormValue.controls['firstName'].errors?.['required']">You must enter your firstname!
            ⚠️</mat-error>
        </mat-form-field>

        <!-- last name -->
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" type="text" required name="lastName" id="lastName"
            placeholder="Add Last Name">
          <mat-error *ngIf="signUpFormValue.controls['lastName'].errors?.['required']">You must enter your lastname! ⚠️
          </mat-error>
        </mat-form-field>
      </div>

      <div class="custom-space-class">
        <!-- age -->
        <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" type="text" required maxlength="3" name="age" id="age"
            placeholder="Add Full Name">
          <mat-error *ngIf="signUpFormValue.controls['age'].errors?.['required']">You must enter your age! ⚠️
          </mat-error>
          <mat-error *ngIf="signUpFormValue.controls['age'].errors?.['pattern']">
            Please, Enter digits only! ⚠️
          </mat-error>
        </mat-form-field>

        <!-- mobile -->
        <mat-form-field appearance="standard">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="mobile" type="number" maxlength="10" required name="mobile" id="mobile"
            placeholder="Add Mobile Number">
          <mat-error *ngIf="signUpFormValue.controls['mobile'].errors?.['required']">You must enter your mobile number!
            ⚠️</mat-error>
          <mat-error *ngIf="signUpFormValue.controls['mobile'].errors?.['pattern']">Please, Enter digits only! ⚠️
          </mat-error>
        </mat-form-field>
      </div>

      <!-- email -->
      <mat-form-field appearance="standard">
        <mat-label>E-mail ID</mat-label>
        <input matInput formControlName="email" type="email" name="email" id="email" placeholder="Add E-mail">
        <mat-error *ngIf="signUpFormValue.controls['email'].errors?.['required']">You must enter your E-mail! ⚠️
        </mat-error>
        <mat-error *ngIf="signUpFormValue.controls['email'].errors?.['email']">Not a valid E-mail! ⚠️</mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="text" required name="password" id="password">
        <mat-error *ngIf="signUpFormValue.controls['password'].errors?.['required']">You must enter your Password! ⚠️
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="btn-margin"
        [disabled]="!signUpFormValue.valid">Sign Up</button>

      <div class="btn-margin">
        Already User?
        <a (click)="goToLogin()" class="btn-signup">Login</a>
      </div>
    </mat-card>
  </form>

</div>
