<form [formGroup]="formValue">
  <mat-card-header>
    <mat-card-title>
      <h1>User Details</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="custom-space-class">
      <!-- first name -->
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" required name="firstName" id="firstName"
          autocomplete="off" placeholder="Add First Name">
        <mat-error *ngIf="formValue.controls['firstName'].errors?.['required']">You must enter your firstname!
          ⚠️</mat-error>
      </mat-form-field>

      <!-- last name -->
      <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" required name="lastName" id="lastName"
          placeholder="Add Last Name">
        <mat-error *ngIf="formValue.controls['lastName'].errors?.['required']">You must enter your lastname!
          ⚠️
        </mat-error>
      </mat-form-field>
    </div>

    <div class="custom-space-class">
      <!-- age -->
      <mat-form-field appearance="standard">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="text" required maxlength="3" name="age" id="age"
          placeholder="Add Full Name">
        <mat-error *ngIf="formValue.controls['age'].errors?.['required']">You must enter your age! ⚠️
        </mat-error>
        <mat-error *ngIf="formValue.controls['age'].errors?.['pattern']">
          Please, Enter digits only! ⚠️
        </mat-error>
      </mat-form-field>

      <!-- mobile -->
      <mat-form-field appearance="standard">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobile" type="tel" maxlength="10" required name="mobile" id="mobile"
          placeholder="Add Mobile Number">
        <mat-error *ngIf="formValue.controls['mobile'].errors?.['required']">You must enter your mobile
          number!
          ⚠️</mat-error>
        <mat-error *ngIf="formValue.controls['mobile'].errors?.['pattern']">Please, Enter digits only! ⚠️
        </mat-error>
      </mat-form-field>
    </div>

    <!-- email -->
    <mat-form-field appearance="standard">
      <mat-label>E-mail ID</mat-label>
      <input matInput formControlName="email" type="email" name="email" id="email" placeholder="Add E-mail">
      <mat-error *ngIf="formValue.controls['email'].errors?.['required']">You must enter your E-mail! ⚠️
      </mat-error>
      <mat-error *ngIf="formValue.controls['email'].errors?.['email']">Not a valid E-mail! ⚠️</mat-error>
    </mat-form-field>
  </mat-card-content>

  <div mat-card-actions [align]="'end'">
    <button mat-raised-button color="accent" type="button" class="mx-2" id="cancel" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="button" (click)="updateUser()"
      [disabled]="!formValue.valid">Update</button>
  </div>
</form>
