.extra-margin {
  margin: 10px 0 0 10px;
}

::ng-deep .success-snackbar {
  background-color: green;
  color: white;
}

::ng-deep .failure-snackbar {
  background-color: red;
  color: white;
}

::ng-deep .delete-snackbar {
  background-color: brown;
  color: white;
}
